@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --orange:#ff7800;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body{
  background:#eee;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color:var(--black);
}

.heading span{
  background: var(--orange);
  color:#fff;
  display: inline-block;
  padding:.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--orange);
  color:#fff;
}

.header{
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:2rem 9%;
  background:#fff;
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:var(--black);
}

.header .logo i{
  color:var(--orange);
}

.header .navbar{
  display: flex;
  gap: 1.5rem;
  font-size: 1.7rem;
  margin:0 1rem;
  color:var(--black);
  flex-wrap: wrap;
}

.header .navbar div{
  padding: 7px;
  border: 1px solid transparent;
  cursor: pointer;
}

.header .navbar div.active {
  border: 1px solid;
  color: white;
  background-color: var(--orange);
}

.header .navbar div:hover{
  border: 1px solid;
  color: white;
  background-color: var(--orange);
}

.header .navbar a:hover{
  color:var(--orange);
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--orange);
  color:#fff;
}

.header .icons .cart-btn {
  position: relative;
}

.header .icons .cart-btn p {
  position: absolute;
  padding: 5px;
  background-color: white;
  color: black;
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:110%; right:-110%;
  width: 50rem;
  height:5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
}

.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .search-form label:hover{
  color:var(--orange);
}

.header .shopping-cart{
  position: absolute;
  top:110%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
  text-align: center;
}

.header .shopping-cart.active{
  right:2rem;
  transition: .4s linear;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap:1rem;
  position: relative;
  margin:1rem 0;
}

.header .shopping-cart .fa-shopping-cart{
  margin-top: 1rem;
  font-size: 7rem;
}

.header .shopping-cart .box img{
  height:10rem;
}

.header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor: pointer;
  color:var(--light-color);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
  color:var(--orange);
}

.header .shopping-cart .box .content h3{
  color:var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
  color:var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.header .shopping-cart .btn{
  display: block;
  text-align: center;
  margin:1rem;
}

.header .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.header .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--light-color);
}

.header .login-form p a{
  color:var(--orange);
  text-decoration: underline;
}

/* Home */
.home{
  display: flex;
  align-items: center;
  justify-content: start;
  background: url(../assets/banner-bg.jpg) no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 17rem;
  padding-bottom: 10rem;
  color: white;
}

.home .content{
  text-align: center;
  width:30rem;
}

.home .content h3{
  font-size: 3rem;
}

/* Products */
.products .product-wrapper{
  padding:1rem;
}

.products .container-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
}

.products .product-wrapper:first-child{
  margin-bottom: 2rem;
}

.products .product-wrapper .box{
  background: #fff;
  border-radius: .5rem;
  text-align: center;
  padding:3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: .2s linear;
  height: 470px;
  width: 300px;
  position: relative;
}

.products .product-wrapper .box .discount {
  background-color: var(--orange);
  position: absolute;
  padding: 10px;
  font-size: 2rem;
  right: 8px;
  top: 8px;
  color: white;
}

.products .product-wrapper .box:hover{
  outline-offset: 0rem;
  outline: var(--outline-hover);
}

.products .product-wrapper .box img{
  height:20rem;
}

.products .product-wrapper .box h3{
  height: 115px;
  font-size: 2.5rem;
  color:var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product-wrapper .box .price{
  font-size: 2rem;
  color:var(--light-color);
  padding:.5rem 0;
}

.products .product-wrapper .box .container-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.products .product-wrapper .box .container-price .price {
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .product-wrapper .box .container-price .price-discount {
  font-size: 2.2rem;
  font-weight: 900;
}

.products .product-wrapper .box .stars i{
  font-size: 1.7rem;
  color:var(--orange);
  padding:.5rem 0;
}

.container-empty {
  text-align: center;
  font-size: 20px;
}

/*  Media queries: Responsive */
@media (min-width: 320px) {
  .products .container-products {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .products .container-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1220px) {
  .products .container-products {
    grid-template-columns: repeat(3, 1fr);
  }
}

